.UpdateDetails-label {
  position: relative;
  top: -655px;
  left: -250px;
  font-size: x-large;
  color: #032b55;
}
.bakbtn {
  position: relative;
  top: -655px;
  left: 580px;
  padding-bottom: 35px;
  color: #032b55;
  background-color: #dde4eb;
}
#back-btn {
  padding: 10px 10px 10px 10px;
  color: #032b55;
}

.edit-title {
  color: #032b55;
  margin-bottom: 20px;
  text-align: start;
  font-weight: bold;
  margin-left: 20px;
}

.ud-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  top: -590px;
  left: 70px;
  min-height: 540px;
  max-height: 750px;
  width: 1150px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.ud-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.ud-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 30px;
}

.warning-message {
  color: rgb(199, 30, 30);
  font-weight: 500;
}

.ud-form-label {
  display: block;
  text-align: start;
  color: rgba(25, 53, 90, 0.66);
  font-size: large;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 2rem;
}

.ud-input {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.43);
  background-color: rgba(227, 235, 243, 1);
}

.ud-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ud-input,
.ud-form-label {
  margin-left: 50px;
}

.updateTransferbtn {
  position: relative;
  margin-top: 30px;
  left: 300px;
  padding: 10px 25px 10px 25px;
  background-color: #c3d4e6;
  color: #19355a;
  font-size: large;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
body.no-scroll {
  overflow: hidden;
}
