.pdetails-Title {
    position: relative;
    color: #787272;
    top: -37.7rem;
    left: -26rem;
    transform: translate(-50%, -50%);
    width: 10%;
    text-align: center;
    font-size: x-large;
    font-style: Bold;
  }
  
  .Arrowicon {
    margin-left: 3rem;
    margin-right: 3rem;
    position: relative;
    left: -22.5rem;
    margin-bottom: 42.5rem;
    top: 5.5rem;
  }
  
  .pDetails-Title {
    position: relative;
    top: -61.4rem;
    left: -17rem;
    font-size: x-large;
    color: #032b55;
    margin-bottom: 0.75rem;
  }
  
  .pnum-label {
    position: relative;
    top: -80.4rem;
    left: -25rem;
    font-size: x-large;
    color: #0a0a0a;
  }
  .pnumcode-label {
    position: relative;
    top: -80.4rem;
    left: -24rem;
    font-size: large;
    color: #0a0a0a;
  }
  
  .pbakbtn {
    position: relative;
    top: -83.7rem;
    left: 38rem;
    height: 3rem;
  }
  #back-btn {
    padding: 10px;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  .p-container {
    width: 80%;
    margin: auto;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    top: -78rem;
    left: 7rem;
    min-height: 30rem;
    max-height: 40rem;
    min-width: 1150px;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
  }
  
  .id-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.6rem;
    margin-top: 0.5rem;
    margin-left: 0.6rem;
  }
  
  .id-comments-label {
    overflow-y: auto;
    width: 50%;
    color: rgba(98, 108, 122, 1);
    font-size: large;
    font-weight: 780;
  }
  
  .id-comment {
    color: rgba(0, 0, 0, 1);
    font-size: medium;
    font-weight: 500;
  }
  .id-pnum-label {
    color: rgba(98, 108, 122, 1);
    font-size: large;
    font-weight: 700;
  }
  .id-studentname-label {
    color: rgba(0, 0, 0, 1);
    font-size: large;
    font-weight: 700;
    margin-right: 32rem;
  }
  .id-status-label {
    color: rgba(0, 0, 0, 1);
    font-size: large;
    font-weight: 700;
    margin-right: 33.89rem;
  }
  .id-date-label {
    color: rgba(0, 0, 0, 1);
    font-size: large;
    font-weight: 700;
    margin-left: 1rem;
  }
  .id-national-label {
    color: rgba(0, 0, 0, 1);
    font-size: large;
    font-weight: 700;
    margin-left: 1rem;
  }
  
  .p-national-input {
    width: auto;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 20px;
    background-color: #e3ebf3;
    overflow-y: auto;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 780;
  }
  .p-studentname-input {
    width: auto;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-right: 23.3rem;
    background-color: #e3ebf3;
    overflow-y: auto;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 780;
  }
  
  .p-details-container {
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.19);
    border-radius: 7px;
    min-width: 63rem;
    margin-left: 3rem;
  }
  
  .p-table {
    position: relative;
    top: 0px;
    left: 0px;
  }
  
  .p-tbody {
    height: 50px;
  }
  body.no-scroll {
    overflow: hidden;
  }
  
/*   .checkbox-wrapper-36 *,
  .checkbox-wrapper-36 *::before,
  .checkbox-wrapper-36 *::after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-36 label {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 50px 20px 0 rgba(0,0,0,0.1);
    display: flex;
    height: 50px;
    padding: 8px;
    position: relative;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 116px;
  }

  .checkbox-wrapper-36 input {
    display: none;
  }

  .checkbox-wrapper-36 label:after {
    animation: move-left-36 400ms;
    background: #E2E2E2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 24 24'%3E%3Cpath stroke='#E2E2E2' fill='#E2E2E2' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center;
    border-radius: 12px;
    content: '';
    left: 8px;
    outline: none;
    position: absolute;
    transition: background 100ms linear;
    width: 36px;
    height: 36px;
    left: 8px;
    top: 7px;
  }

  .checkbox-wrapper-36 label:active {
    box-shadow: 0px 10px 20px 0 rgba(0,0,0,0.2);
    transform: scale(1.15);
  }

  .checkbox-wrapper-36 input:checked + label:after {
    animation: move-right-36 400ms;
    background: #6EB54E url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 24 24'%3E%3Cpath stroke='white' fill='white' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center;
    left: 72px;
  }

  @keyframes move-right-36 {
    0% {
      left: 8px;
    }
    75% {
      left: 78px;
    }
    100% {
      left: 72px;
    }
  }

  @keyframes move-left-36 {
    0% {
      left: 72px;
    }
    75% {
      left: 2px;
    }
    100% {
      left: 8px;
    }
  } */
  .checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
  }
  .checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
  }
  .checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #6cbe45;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }