.TransferDetails-label {
  position: relative;
  top: -655px;
  left: -250px;
  font-size: x-large;
  color: #032b55;
}

.butnn {
  position: relative;
  top: -660px;
  left: 560px;
}
#back-btn {
  padding: 10px 10px 10px 10px;
}
.updatelabel {
  padding-left: 9px;
}

.td-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  top: -600px;
  left: 70px;
  min-height: 600px;
  max-height: 700px;
  width: 1150px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transfer-title {
  color: #032b55;
  text-align: start;
  font-weight: bold;
  margin-left: 30px;
  margin-top: -10px;
}

.td-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
}

.td-form-label {
  display: block;
  margin-bottom: 5px;
  text-align: start;
  color: rgba(25, 53, 90, 0.66);
  font-weight: 900;
  font-size: large;
  margin-left: 20px;
}

.td-input {
  width: 80%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-left: 20px;
}

.td-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.td-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.transfer-details-container {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  width: 63rem;
  margin-left: 3rem;
}

.tdet-table {
  position: relative;
  top: 0px;
  left: 0px;
}

.td-tbody {
  height: 150px;
}

body.no-scroll {
  overflow: hidden;
}
