.addinvoice-label {
  position: relative;
  top: -655px;
  left: -250px;
  font-size: x-large;
  color: #032b55;
}
.bakbtn {
  position: relative;
  top: -655px;
  left: 580px;
  height: 40px;
}
#back-btn {
  padding: 10px;
}

.invoice-title {
  color: #032b55;
  margin-bottom: 20px;
  text-align: start;
  font-weight: normal;
  margin-left: 10px;
}

.ai-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  position: relative;
  top: -590px;
  left: 70px;
  min-height: 550px;
  max-height: 750px;
  min-width: 1150px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
}

.ai-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.ai-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ai-form-group.c-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  top: -75px;
}
.ai-form-group.add_medicinegroup{
  display: flex;
  flex-direction: column;
  left: 25px;
  position: relative;
  top: -3px;
  width: 50%;
}

.ai-form-label {
  display: block;
  margin-bottom: 3px;
  text-align: start;
  color: rgba(29, 36, 46, 1);
  font-weight: 500;
  margin-left: 28px;
  font-size: medium;
}


.ai-input {
  width: 60%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 2px;
  margin-left: 15px;
  border-radius: 7px;
  border-width: 2px;
  border-color: rgba(192, 194, 194, 0.87);
  background-color: rgba(227, 235, 243, 1);
}

.ai-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ai-input,
.ai-form-label {
  margin-left: px;
}

.addinvoicebtn {
  position: relative;
  margin-top: 50px;
  left: 390px;
  font-size: larger;
    padding: 10px 30px 10px 30px;
    color: #19355a;
    background-color:  rgb(195, 212, 230);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
.comments_addinvRow{
  position: relative;
  top: 40px;
}
.totalamount{
  position: relative;
  width: 33%;
  left: 60%;
}
.ai-form-label.q-label{
  margin-left: 150px;
}
.ai-form-label.d-label{
  margin-left: 100px;
}
.ai-form-label.p-label{
  margin-left: 50px;
}

.ai-form-label.a-label{
  margin-left: 8px;
}
.ai-form-label.s-label{
  margin-left: 44px;
}
.ai-form-label.am-label{
  margin-left: 88px;
}
select[name="suppliersearch"]
{
  position: relative;
  border: transparent;
  top: -39px;
  margin-left: 20px;
 
  
}
#selectdropdown{
 position: relative;
 left: -6px;
 width: 340px;
 margin-right: -95px;
}
#suppliersdropdownmenu
{
  position: relative;
  width: 280px;
  left:22px;
  
}
.ai-input.medicine-name
 {
  width: 150%;
}

.ai-input.quantity{
  width: 70%;
  margin-left: 150px;

}

.ai-input.discount
{
  width: 70%;
  margin-left: 100px;


}
.ai-input.price{
  width: 70%;
  margin-left: 50px;


}
.ai-input.amount{
  width: 70%;
  margin-left:10px ;
}

.addMedicineBtn {
  background-color: #ffffff;
  color: rgba(0, 154, 241, 1);
  border: none;
  margin-top: 18px;
  margin-bottom: 20px;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
  width: 30%;
}

.remove-btn {
  background-color: #bd2727;
  color: #fff;
  border: none;
  padding: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
  height: 50px;
  margin-top: 23px;
  margin-left: -40px;
}
.ai-form-label.comments{
  margin-top: -100px;

}
.c-textarea {
max-height: 100px;
min-height: 70px;
margin-bottom: 20px;
}

.ad-warning-message{
  color: rgb(199, 30, 30);
  font-weight: 500;
}

.ad-warning-message-od{
  color: rgb(199, 30, 30);
  font-weight: 500;
  margin-left: -250px;
}

body.no-scroll {
  overflow: hidden;
}

