.Medicine-title {
  position: relative;
  color: #787272;
  top: -37.5rem;
  left: -27rem;
  transform: translate(-50%, -50%);
  width: 10%;
  text-align: center;
  font-size: x-large;
  font-style: Bold;
}

.Arrowicon {
  margin-left: 3rem;
  margin-right: 3rem;
  position: relative;
  left: -22.5rem;
  margin-bottom: 42.5rem;
  top: 5.5rem;
}

.MedicineList-title {
  position: relative;
  top: -40.94rem;
  left: -13rem;
  font-size: x-large;
  color: #032b55;
  margin-bottom: 0.75rem;
}

.search-group {
  position: relative;
  left: -5rem;
  border-radius: 2rem;
  background-color: #fff;
}

#p-srchinput {
  background-color: #d5e3f0;
  width: 430px;
}

.search-input {
  margin-left: 10.9rem;
  position: relative;
  background-color: transparent;
  top: -40rem;
}
/*
  .search-icon{
      position: relative;
      left: 12.6rem;
      top: -15rem;
  }*/
.iconInmedicine_list {
  position: relative;
  left: 12.6rem;
  top: -3rem;
}
#medicinetable {
  position: relative;
  top: -645px;
  left: 3.7rem;
  width: 110%;
  overflow-x: scroll;
}

.medicinetable-body {
  height: 1.5rem;
}

.pagination {
  position: relative;
  left: -5.7rem;
}

.page-item {
  margin-right: 1rem;
  margin-top: 1.5rem;
}

.page-link {
  cursor: pointer;
}

.toleft {
  margin-left: 2.2rem;
}
.p-orderMEdicine {
  position: relative;
  left: 41rem;
  top: -36.5rem;
  background-color: #d5e3f0;
  width: 22%;
}
.ao-container {
  position: relative;
  top: -38.5rem;
  width: 80%;
  left: 4rem;
  max-height: 48.5rem;
  margin: auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
}

.neworder-title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 1rem;
  color: #032b55;
  font-size: x-large;
  font-weight: bolder;
}

.close-btn {
  background-color: #ffffff;
  border: none;
  font-size: x-large;
  cursor: pointer;
  color: #495057;
  transition: color 0.3s;
  margin-top: -10px;
}
.close-btn:hover {
  color: #495057;
}

.ao-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.ao-input-group {
  display: flex;
  align-items: center;
  margin-left: 5rem;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
}

.ao-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.ao-label {
  display: block;
  text-align: start;
  color: rgba(25, 53, 90, 0.66);
  font-size: large;
  font-weight: 900;
  margin-left: 38px;
}
.national_idLabel {
  position: relative;
  left: -30px;
}
.ao-select {
  background-color: #e3ebf3;
  width: 93%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.3s;
}

.ao-input {
  background-color: #e3ebf3;
  width: 93%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.3s;
  position: relative;
  top: 3px;
  height: 50px;
}
.medicine_idInput {
  background-color: #e3ebf3;
  width: 93%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 8px;
  transition: border-color 0.3s;
  position: relative;
  top: 3px;
  left: -40px;
  height: 50px;
}

.ao-addMedicineBtn {
  background-color: #ffffff;
  color: rgba(0, 154, 241, 1);
  border: none;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 28rem;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 0.25rem;
  width: 30%;
}

.quantity-and-remove {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}

.removebtn {
  background-color: #bd2727;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 1rem;
}

.ao-confirm-btn {
  position: relative;
  font-size: larger;
  /* font-weight: bolder; */
  padding: 10px 35px 10px 35px;
  color: #19355a;
  background-color: rgb(195, 212, 230);
  /* font-weight: bolder; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
.awesome {
  /* Add your awesome styles here */
  background-color: #f0f0f0;
  position: relative;
  top: 11px;
  width: 60px;
  height: 47px;
  border-radius: 0.5rem;
  text-align: center;
}
.dmarge {
  margin-top: -2rem;
}

/* Add more styles as needed */
.aoo-input-group {
  margin-left: -2rem;
  justify-content: space-between;
}
