
@media screen and (min-width: 0px) and (max-width: 400px) {
    body,span{
      color: rgb(255, 255, 255);
      background: linear-gradient(90deg, rgba(25,53,90,1) 0%, rgba(255,255,255,1) 50%, rgba(25,53,90,1) 100%)
        rgb(0, 0, 0);
        margin-right:0px;
    }
    }
    @media screen and (min-width: 401px) and (max-width: 599px) {
        body {
            color: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(25,53,90,1) 0%, rgba(255,255,255,1) 50%, rgba(25,53,90,1) 100%)
              rgb(0, 0, 0);
          }
    }
    @media screen and (min-width: 600px) {
        body {
            color: rgb(255, 255, 255);
            background: linear-gradient(90deg, rgba(25,53,90,1) 0%, rgba(255,255,255,1) 50%, rgba(25,53,90,1) 100%)
              rgb(0, 0, 0);
          }
  } 
.login-page {
    color: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(25, 53, 90, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(25, 53, 90, 1) 100%);
    
}

.photo{
    height: 200px;
    width: 220px;
    margin-top:-15px;
  }

.card{
    border-radius: 1rem;
}

.span{
  display: inline-block;
}
.title,span,.form-label,.bi,.form-label{
  color: #19355a;
  white-space: nowrap;

}

button,.loginbtn{
  background: #19355a;
  color: white;
}
