body {
  background: linear-gradient(to top right, #f9f9f9 10%, #e4e1e1 100%);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin-right: -5px;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 50ch;
}
.svguser {
  height: 50px;
}
.card-body {
  background-color: #06335f63;
  border-radius: 9px;
}

/* Global styles */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

/* Global reset */
.container__global-reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(245, 245, 245) 100%,
    rgb(245, 245, 245) 100%,
    rgb(245, 245, 245) 100%
  );
}
.photo {
  width: 25%;
  position: relative;
  margin-top: 50px;
  margin-left: -300px;
  margin-bottom: -120px;
}

/* Container styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-radius: 30px;
}

/* Screen styles */
.screen {
  background: linear-gradient(45deg, #19355a, #67799e);
  position: relative;
  height: 750px;
  width: 550px;
  box-shadow: 0px 0px 24px #19355a;
  border-radius: 10px;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

/* Background styles */
.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  border-radius: 30px;
}

/* Shape styles */
.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

/* Shape 1 */
.screen__background__shape1 {
  height: 720px;
  width: 691px;
  background: #fff;
  top: 50px;
  right: 120px;
  border-radius: 0 155px 0 0;
}

/* Shape 2 */
.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #19355a;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

/* Shape 3 */
.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #19355a, #67799e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

/* Shape 4 */
.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #19355a;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

/* Login form styles */
.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
  margin-left: 100px;
  margin-top: 50px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #67799e;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #19355a;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #19355a;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #19355a;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #19355a;
}

#loginbtn {
  background: #19355a;
  color: white;
  margin-left: -40px;
  margin-top: 25px;
}

.form-outline {
  position: relative;
  left: 40px;
}

.input-group {
  position: relative;
  left: -65px;
  border-radius: 20px;
  background-color: #fff;
}

.input-group-text {
  background-color: aliceblue;
}
.input-group-text:hover {
  background-color: aliceblue;
}

#username,
#password {
  background-color: aliceblue;
  border-color: aliceblue;
  width: 70%;
}
