#logoutBtn {
  font-size: large;
  position: fixed;
  top: 5%;
  right: 3%;
  padding: 0.7rem;
  font-size: large;
  font-weight: bolder;
  border-radius: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: row;
  width: 10%;
  display: inline;
  background-color: linear-gradient(to top right, #f9f9f9 10%, #e4e1e1 100%);
}
