.transferLabel {
  position: relative;
  top: -655px;
  left: -237px;
  font-size: x-large;
  color: #032b55;
}

.seachInput {
  margin-left: 170px;
  max-width: 400px;
  position: relative;
  top: -642px;
  background-color: transparent;
  z-index: 1;
  margin-top: 10px;
}
#searchinput {
  background-color: #d5e3f0;
}

.searchIcon {
  position: relative;
  left: -37px;
  top: 15px;
}

.tl-dropdown {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 98%;
  margin-left: 3px;
  background-color: #fcfcfc;
  border-radius: 1px;
}

.tl-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.tl-dropdown:hover .tl-dropdown-content {
  display: block;
}

.filterdropdwn {
  position: relative;
  left: 548px;
  top: -702px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
}
.filterlabel {
  position: relative;
  top: 10px;
  font-size: large;
  padding-left: -50px;
}
.filtericon {
  position: relative;
  left: -50px;
  top: 8px;
}
.filterdownicon {
  position: relative;
  left: 42px;
  top: 8px;
}
.filtercontent {
  position: absolute;
  top: 7px;
  max-height: 200px;
  overflow-y: visible;
  min-width: 300px;
}
#statusfilter {
  padding-left: 60px;
  padding-right: 60px;
}

#td-table {
  position: relative;
  margin-top: -38px;
  left: 5rem;
  margin-bottom: 10px;
  overflow-x: scroll;
  width: 101%;
}
.tl-tbody {
  height: 50px;
}

.pagination {
  position: relative;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  cursor: pointer;
}

.addTransferButton {
  position: relative;
  top: -3.8rem;
  left: 38rem;
  padding: 10px 35px 10px 35px;
  background-color: rgb(195, 212, 230);
  color: #19355a;
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.status-item {
  padding: 3px;
  border-radius: 20px;
  width: 38%;
  display: inline-block;
  font-weight: bold;
}

body.no-scroll {
  overflow: hidden;
}
.pgtl {
  margin-left: 9rem;
}
.pagination {
  margin-top: -2rem;
  margin-left: -42rem;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}
