
.price-input1{
    margin-top: 70px; 
} 

.addlabel{
    color: #032B55;
   font-size: x-large;
  margin-top: 35px;
  margin-left: -480px;
}
.addlabel2{
    color: #032B55;
    font-size: x-large;
   /* margin-top: -400px;
   margin-bottom: 700px; */
   margin-left: -460px;
   position: relative;
   top: -654px;
   left: 5px;

}
.form-label
{
    margin-left: -300px;
}
.form-control
{
    height: 50px;
    width: 1px;
    background-color: #f0f7fe;
    border-radius: 7px;
    
}
.price-inputcategory
{
    margin-left: 80px;

}
.frm{
    background-color: #ffffff;
    border-radius: 7px;
    width: 120%;
    height: 640px;
  margin-right: 800%;
  margin-top: 800px;
  position: relative;
  top:-655px;


}
.custom-width{
    width: 70%;
    background-color: #d5e3f0;
}
.my-input{
    width: 10%;
}
input[name="inputIng"] 
{ background-color: rgb(213, 227, 240); width: 70%; margin-left: 80px; }
/* #inputIng
{
   background-color: #d5e3f0;
   width: 70%;
   margin-left: 80px;
} */
.addprdbtn
{
    position: relative;
    top: -70px;
    left: 940px;
    margin-left: -490px;
    width: 70px;
    margin-bottom: 9px;
    height: 50px;
    
}
.Addmedbtn
{
    color: #032B55;
    font-size: large;
    padding: 20px 20px 20px 20px;
}
#oooo
{
    position: relative;
    background-color: #d5e3f0;
    
}

.formborder
{
    margin-left: 110px;
}
.ing
{
    margin-left: -330px;
}
.prc{

    margin-left: -420px;

}
.mjr{
    margin-left: -380px;
}
.minor{
    margin-left: -382px; 
}
.med{
    margin-left: -367px;  
}
.cat{
    margin-left: -330px; 
}

.barcode{
    margin-left: -300px;
}
/* .backbtn
{
    margin-bottom: 30px;
    margin-left: 890px;
    margin-bottom: 17px;
   
}*/
#bckbtn
{
    padding: 10px 10px 4px 12px;
    color: #032B55;

   
} 
 .backbutton{
   position: relative;
   left: 63.5%;
   margin-bottom: 19px;
   top: -660px;
   padding: 10px 10px 10px 10px;
   background-color:#d5e3f0;

}  
select[name='inputState']
{
    background-color: #d5e3f0;
    width: 106%;
    height: 60%;
}
