.invoicesLabel {
  position: relative;
  top: -655px;
  left: -14rem;
  font-size: x-large;
  color: #032b55;
}

.searchInput {
  margin-left: 170px;
  max-width: 400px;
  position: relative;
  top: -640px;
  background-color: transparent;
  z-index: 1;
}
#searchinput {
  background-color: #d5e3f0;
}

.searchIcon {
  position: relative;
  left: -37px;
  top: 15px;
}

.il-dropdown {
  position: relative;
  display: inline-block;
  margin-top: -30px;
  width: 98%;
  margin-left: 3px;
  background-color: #fcfcfc;
  border-radius: 1px;
}

.il-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  width: 100%;
  left: -2.2rem;
}

.il-dropdown:hover .il-dropdown-content {
  display: block;
}

.il-filterdropdwn {
  position: relative;
  left: 37rem;
  top: -687px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
}
.filterlabel {
  position: relative;
  top: 10px;
  font-size: large;
  padding-left: -50px;
}
.filtericon {
  position: relative;
  left: -50px;
  top: 8px;
}
.il-filterdownicon {
  position: relative;
  left: 42px;
  top: 8px;
}
.il-filtercontent {
  position: absolute;
  top: 45px;
  margin-left: 36px;
}
.filter-buttons {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}
.filter-button {
  margin-top: 7px;
  background-color: rgb(200, 221, 243);
  font-size: large;
}
.clear-button {
  margin-top: 7px;
  background-color: rgb(163, 169, 173);
  font-size: large;
}

.date-range-label {
  text-align: start;
  margin-left: -120px;
  font-size: large;
}

#il-table {
  position: relative;
  top: -650px;
  left: 5rem;
  overflow-x: scroll;
  width: 105%;
}
.il-tbody {
  height: 50px;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  cursor: pointer;
}

.addinvoiceButton {
  position: relative;
  top: -3.8rem;
  left: 41.3rem;
  padding: 10px 35px 10px 35px;
  color: #19355a;
  background-color: rgb(195, 212, 230);
  font-size: larger;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

body.no-scroll {
  overflow: hidden;
}

.pagination {
  position: relative;
  margin-top: -40.5rem;
  margin-left: -40rem;
}

.pagination button {
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}
/* Responsive styles */

@media (max-width: 767px) {
  /* Adjustments for small screens */

  .invoicesLabel {
    top: -545px;
    left: -120px;
  }

  .searchInput {
    margin-left: 50px;
    max-width: 300px;
    top: -530px;
  }

  .il-dropdown {
    left: 150px;
    top: -570px;
    width: 200px;
  }

  .filtericon {
    left: -20px;
    top: 8px;
  }

  .il-filterdownicon {
    left: 22px;
    top: 8px;
  }

  .il-filtercontent {
    top: 45px;
    margin-left: 0;
  }

  #il-table {
    top: -550px;
    left: 20px;
  }

  .addinvoiceButton {
    top: -2.8rem;
    left: 20rem;
  }

  .pagination {
    margin-top: -37.5rem;
    margin-left: -30rem;
  }
}
