.isidenav {
  height: 100%;
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 1.5rem;
  background-color: #032b55;
}

.isidenav a {
  padding: 0.6rem 0.8rem 0.6rem 1.6rem;
  text-decoration: none;
  font-size: 1rem;
  color: #888181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.isidenav a:hover {
  color: #032b55;
}

.iside-baricon {
  position: relative;
  left: 23rem;
  top: -8rem;
}

#inventoryImage {
  height: 10rem;
  width: 11rem;
  margin-left: -4rem;
  margin-top: 2rem;
  border-radius: 10%;
  margin-bottom: 8rem;
}

#inventorydashboardlabel {
  color: #f1f1f1;
  padding-left: 1.5rem;
  margin-top: 20%;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 1rem;
  margin-right: 0.5rem;
}
